:root {
	--font-main: "Unbounded", sans-serif;
	--font-second: "Montserrat", sans-serif;

	--font-weigth-rg: 400;
	--font-weight-xl: 600;

	--color-main: rgb(255, 125, 255);
	--drum-pad-border: 4px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	background: url(./bg-image.png) no-repeat top left / cover;
}

#drum-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(130, 100, 150, 0.23);
}

#drum-pad {
	width: 1030px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
	
	position: relative;
	border-radius: 50px;
	background: linear-gradient(180deg, #7777da, #60608F);
}
#drum-pad::after {
	content: "";
	z-index: 0;
	position: absolute;
	inset: 0;
	background: #27273B;
	border-radius: inherit;
	background-clip: padding-box;
	border: var(--drum-pad-border) solid transparent;
	box-shadow: 0 0 20px 1px #11111A;
}

.key {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	color: var(--color-main);
	transition: all 0.1s;

	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 15px;
	background: linear-gradient(45deg, #4D4D73, #60608F);
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 1px 3px #11111A;
}
.key::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	width: 75px;
	height: 75px;
	border-radius: inherit;
	background: linear-gradient(-30deg, #4D4D73, #60608F);
}

.active {
	transform: scale(0.99) translate(1px, 3px);
	box-shadow: none;
	color: rgb(255, 75, 255);
}

.literal {
	z-index: 1;
	position: absolute;
	top: 16px;
	left: 23px;
	font-family: var(--font-main);
	font-weight: var(--font-weight-rg);
	font-size: 1.5rem;
}

.sound-name {
	z-index: 1;
	margin-top: 35px;
	font-family: var(--font-second);
	font-weight: var(--font-weight-rg);
	font-size: 0.85rem;
}